################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/webclinic/FileContentIndex
/webclinic/obj/Debug/net8.0/webclinic.AssemblyInfo.cs
/webclinic/obj/Debug/net8.0/webclinic.AssemblyInfoInputs.cache
/webclinic/obj/Debug/net8.0/webclinic.assets.cache
/webclinic/obj/Debug/net8.0/webclinic.csproj.AssemblyReference.cache
/webclinic/obj/Debug/net8.0/webclinic.GeneratedMSBuildEditorConfig.editorconfig
/webclinic/obj/project.nuget.cache
/webclinic/obj/project.assets.json
/webclinic/obj/webclinic.csproj.nuget.dgspec.json
/webclinic/obj/webclinic.csproj.nuget.g.props
/.vs/webclinic/v17/.suo
/.vs/webclinic/v17/DocumentLayout.backup.json
/.vs/webclinic/v17/DocumentLayout.json
/webclinic/bin/Debug/net8.0/webclinic.dll
/webclinic/bin/Debug/net8.0/webclinic.exe
/webclinic/bin/Debug/net8.0/webclinic.pdb
/webclinic/bin/Debug/net8.0/webclinic.staticwebassets.endpoints.json
/webclinic/bin/Debug/net8.0/webclinic.staticwebassets.runtime.json
/webclinic/obj/Debug/net8.0/ref/webclinic.dll
/webclinic/obj/Debug/net8.0/refint/webclinic.dll
/webclinic/obj/Debug/net8.0/staticwebassets/msbuild.webclinic.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/webclinic/obj/Debug/net8.0/staticwebassets/msbuild.webclinic.Microsoft.AspNetCore.StaticWebAssets.props
/webclinic/obj/Debug/net8.0/apphost.exe
/webclinic/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/webclinic/obj/Debug/net8.0/staticwebassets.build.json
/webclinic/obj/Debug/net8.0/staticwebassets.development.json
/webclinic/obj/Debug/net8.0/staticwebassets.pack.json
/webclinic/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/webclinic/obj/Debug/net8.0/webclinic.csproj.CoreCompileInputs.cache
/webclinic/obj/Debug/net8.0/webclinic.dll
/webclinic/obj/Debug/net8.0/webclinic.genruntimeconfig.cache
/webclinic/obj/Debug/net8.0/webclinic.pdb
/webclinic/obj/Debug/net8.0/webclinic.sourcelink.json
/.vs/webclinic/DesignTimeBuild/.dtbcache.v2
