@page
@model webapplication.Pages.LoginModel
@{
    ViewData["Title"] = "LogIn";
	Layout = ".\\Shared\\_LayoutLogin.cshtml";
}


<div class="w-75 mx-auto mt-5 my-auto">
    <h2 class="text-center text-primary fw-bold mb-4">Log In</h2>
    <form method="post" asp-page-handler="log">
        <!-- Email Address -->
        <div class="form-floating mb-3 mx-auto w-50">
            <input type="email" class="form-control" asp-for="email" id="email" placeholder="Email Address" required>
            <label for="email">Email Address</label>
        </div>
        <!-- Password -->
        <div class="form-floating mb-3 mx-auto w-50">
            <input type="password" class="form-control" asp-for="password" id="password" placeholder="Password" required>
            <label for="password">Password</label>
            <button type="button" class="btn btn-link btn-sm position-absolute top-50 end-0 translate-middle-y me-2" id="togglePassword">
                Show
            </button>
        </div>
        <!-- Login Button -->
        <div class="d-grid w-25 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <!-- Signup Link -->
    <div class="text-center mt-3">
        <p>Don't have an account? <a asp-page="/SignUp" class="text-primary">Sign Up</a></p>
    </div>
</div>
