@page
@model webapplication.Pages.SignupPatientModel
@{
    ViewData["Title"] = "SignUp";
	Layout = ".\\Shared\\_LayoutLogin.cshtml";
}

<div class="w-75 mx-auto mt-5 my-auto">

	@if(@Model.HttpContext.Session.GetString("user_type") == "p")
	{
        <div class="d-flex justify-content-center align-items-baseline ms-2 mb-4">
            <h2 class="text-primary fw-bold mb-0 me-2">Sign Up</h2>
            <p class="text-secondary fw-bold mb-0 me-2">as a</p>
            <p class="text-primary fw-bold mb-0 text-lg-center">Patient.</p>
        </div>

	}else
	{
        <div class="d-flex justify-content-center align-items-baseline ms-2 mb-4">
            <h2 class="text-primary fw-bold mb-0 me-2">Sign Up</h2>
            <p class="text-secondary fw-bold mb-0 me-2">as a</p>
            <p class="text-primary fw-bold text-lg mb-0">Doctor.</p>
        </div>
	}
    <form method="post" asp-page-handler="SignUpPatient">
        <!-- First Name -->
        <div class="form-floating mb-3 mx-auto w-50">
            <input class="form-control" id="fname" placeholder="First name"  asp-for="fname" required>
            <label for="fname">First name</label>
        </div>
        <!-- Last Name -->
        <div class="form-floating mb-3 mx-auto w-50">
            <input class="form-control" id="lname" asp-for="lname" placeholder="Last name" required>
            <label for="lname">Last name</label>
        </div>

        <!-- Gender -->
        <div class="w-50 mx-auto my-3">
            <label class="w-100 fw-bold text-center text-primary mx-auto mb-3">Gender</label>
            <div class="d-flex justify-content-center">
				<div class="form-check form-check-inline mx-auto">
					<input class="form-check-input" type="radio" asp-for="gender" name="Gender" id="RadioM" value="M" required>
					<label class="form-check-label" for="RadioM">Male</label>
				</div>
				<div class="form-check form-check-inline mx-auto">
					<input class="form-check-input" type="radio" asp-for="gender" name="Gender" id="RadioF" value="F" required>
					<label class="form-check-label" for="RadioF">Female</label>
				</div>
            </div>
        </div>

        <!-- Phone number -->
        <div class="form-floating mb-3 mx-auto w-50">
            <input class="form-control" id="phone" asp-for="phone_number" placeholder="+201119422687" required>
            <label for="phone">Phone number</label>
        </div>

		<div class="form-floating mb-3 mx-auto w-50">
			<input type="email" class="form-control" asp-for="email" id="email" placeholder="Email Address" required>
			<label for="email">Email</label>
		</div>

        <!-- Specialty dropdown -->
		@if(@Model.HttpContext.Session.GetString("user_type") == "dr")
        {
			<div class="d-flex justify-content-center align-items-center w-50 mx-auto mb-3">
				<select class="form-select" asp-for="specialty" aria-label="Specialty" required>
					<option value="">Choose Specialty</option>
                    @for(int i = 0; i < Model.fields.Rows.Count; i++ )
                    {
						<option value="@i">@Model.fields.Rows[i]["FieldName"].ToString()</option>
                    }
				</select>
            </div>
        }

        <!-- City dropdown -->
        <!-- TODOOOO -->
		<div class="d-flex justify-content-center align-items-center w-50 mx-auto mb-3">
			<select class="form-select" asp-for="city" aria-label="City" required>
				<option value="">City</option>
				<option value="1">Cardiology</option>
				<option value="2">Dermatology</option>
				<option value="3">Neurology</option>
			</select>
		</div>
        
        <!-- Governorate dropdown -->
		<div class="d-flex justify-content-center align-items-center w-50 mx-auto mb-3">
			<select class="form-select" asp-for="governorate" aria-label="Governorate" required>
				<option value="">Governorate</option>
				<option value="1">Cardiology</option>
				<option value="2">Dermatology</option>
				<option value="3">Neurology</option>
			</select>
		</div>

        <!-- Password -->
        <div class="form-floating mb-3 mx-auto w-50">
            <input type="password" class="form-control" id="password" asp-for="password" placeholder="Password" required>
            <label for="password">Password</label>
            <button type="button" class="btn btn-link btn-sm position-absolute top-50 end-0 translate-middle-y me-2" id="togglePassword">
                Show
            </button>
        </div>

        <!-- National ID -->
        <h6 class="fw-bold text-start mx-auto w-25">National ID</h6>
        <input type="file" class="form-control w-25 mx-auto mb-3" id="nationalID" required/>

        @if(HttpContext.Session.GetString("user_type") == "dr")
        {
			<!-- Doctor documents -->
			<h6 class="fw-bold text-start mx-auto w-25">Medical practice official certificate</h6>
			<input type="file" class="form-control w-25 mx-auto mb-3" id="docdoc" required/>
        }

        <!-- Sign up Button -->
        <div class="d-grid w-25 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


    <!-- Login Link -->
    <div class="text-center mt-3">
        <p>Already have an account? <a asp-page="LogIn" class="text-primary">Log In</a></p>
		<form method="get">
			@if(@Model.HttpContext.Session.GetString("user_type") == "dr")
			{
				<p>Or <a asp-page-handler="ChangeToP">Sign Up</a> as a Patient</p>
			}else
			{
				<p>Or <a asp-page-handler="ChangeToDr">Sign Up</a> as a Doctor</p>
			}
		</form>
    </div>
</div>

<script>
    function showGenreSpecialty(item) {
        document.getElementById("specialty_dropdown").innerHTML = item.innerHTML;
    }
</script>
