@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="header-inner">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="logo">
                                <a href="index"><img src="img/logo.png" alt="#"></a>
                            </div>
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col-lg-7 col-md-9 col-12">
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li><a href="index">Home</a></li>
                                        <li><a href="#">Pages <i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="404.html">404 Error</a></li>
                                            </ul>
                                        </li>
                                        <li class="active"><a href="ContactUs">Contact Us</a></li>
										<li><a href="Login">Login</a></li>
										<li><a href="Signup">Sign Up<i class="icofont-rounded-down"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="SignUp?type=p">Patient Sign Up</a></li>
                								<li><a href="SignUp?type=dr">Physician Sign Up</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                       @*  <div class="col-lg-2 col-12">
                            <div class="get-quote">
                                <a href="DrAppointment.html" class="btn">Book DrAppointment</a>
                            </div>
                        </div> *@
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Breadcrumbs -->
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Contact Us</h2>
					<ul class="bread-list">
						<li><a href="Index">Home</a></li>
						<li><i class="icofont-simple-right"></i></li>
						<li class="active">Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->
		
<!-- Start Contact Us -->
<section class="contact-us section">
	<div class="container">
		<div class="inner">
            <div class="row"> 
				<div class="col-lg-6">
					<div class="contact-us-form">
						<h2>Contact With Us</h2>
						<p>If you have any questions please feel free to contact with us.</p>
						<!-- Form -->
						<form class="form" method="post" action="mail/mail.php">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input type="text" asp-for="Name" placeholder="Name" required="">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input type="email" asp-for="Email" placeholder="Email" required="">
									</div>
								</div>
									<div class="col-lg-6">
									<div class="form-group">
										<input type="text" asp-for="Phone" placeholder="Phone" required="">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<textarea asp-for="Message" placeholder="Your Message" required=""></textarea>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group login-btn">
										<button class="btn" type="submit" asp-page-handler="A">Send</button>
									</div>
								</div>
							</div>
						</form>
						<!--/ End Form -->
					</div>
                </div>
			</div>
		</div>
		</div>
	</div>
</section>
<!--/ End Contact Us -->